
div.container(ng-controller="MainController")

    div.row

        div.col-md-4
            div.row
                div.col-md-12
                    a.btn.btn-mydefault(ng-click="goToTest()", style="height:40px; padding-top: 8px; margin-bottom:3px; ") to-test Words length: {{toTestWords.length}}
            div.devider-color
            div.AddNewFormDiv
               form#AddNewForm(ng-submit="submit()")
                   //span(style="line-height:28px") Word:
                   input.form-control(type="text", required, ng-model="newword", ng-disabled="currentOpenningFolder===''", placeholder="Word", style="margin-bottom:3px")
                   // button(type="button",ng-click="seecurrentWordlist()") Click to see currentWordlist
                   //<br/>
                   //span(style="line-height:28px") Meaning:
                   input.form-control(type="text", required ,ng-model="newmeaning", ng-disabled="currentOpenningFolder===''", placeholder="Meaning")
                   //<br/>
                   | Example:
                   <br/>
                   //textarea(name="",id="",cols="30",rows="10",ng-model="newexample", ng-disabled="currentOpenningFolder===''", style="width: 100%; height: 100px; font-size: 14px;")
                   div(text-angular, ng-model="newexample", style="width:100%;")

                   button.btn.btn-mydefault(type="button", ng-click="defineWord(newword)", ng-disabled="currentOpenningFolder===''") EN -> EN
                   button.btn.btn-mydefault(type="button", ng-click="defineWordFI2EN(newword)", ng-disabled="currentOpenningFolder===''") FI -> EN
                   img.loadingDefinition(src="../icons/ajax-loader(1).gif", ng-show="loadingDefinition")
                   <br/>
                   | Image:
                   // input(type="text", ng-model="newimage", ng-disabled="currentOpenningFolder===''")
                   a.btn(ng-click="getSuggestedImages(newword)", ng-disabled="currentOpenningFolder===''", ng-show="newimage==='' || newimage===undifined") Choose image
                   a.btn(ng-click="removeNewImage()", ng-show="newimage!=='' && newimage!==undefinded") Remove image
                   <br/>
                   div.choosenImageDiv(style="height:200px;text-align: center;", ng-show="newimage!=='' && newimage!==undefinded")
                       img(style="max-height:200px; max-width:95%;padding-top: 20px;", ng-src="{{newimage}}")
                   div.suggestImages(style="height:180px; overflow-y: hidden;overflow-x: scroll;white-space: nowrap;", ng-show="newimage==='' || newimage===undifined")
                       div.suggestImagesOnLoading(ng-show="suggestImagesOnLoading", style="text-align:center; position:absolute")
                           img(style="height:180px", src="../icons/ajax-loader(4).svg")
                       a.suggestedImage.btn(ng-repeat="image in wordImages", ng-click="suggestedImageBtn(image)")
                           img(style="max-width:95%; max-height:200px; float:left", ng-src="{{image}}")

                   div
                       //span(style="line-height:28px") Image address:
                       input.form-control(type="text", ng-model="newimage", ng-disabled="currentOpenningFolder===''", style="margin-top: 3px;", placeholder="Image URL")
                   <br>
                   button.btn.btn-mydefault(type="submit", ng-disabled="currentOpenningFolder===''") Submit
                   button.btn.btn-mydefault(type="button", ng-disabled="currentOpenningFolder===''", ng-click="resetForm()") Reset

            div(style="padding:5px 5px 5px 5px; background-color: white")
                div.folder-list

                   div(ng-repeat="folder in folders")
                       a.btn.btn-mydefault.folder-btn(ng-click="getWords(folder._id)", style="") {{folder.name}}
                       // button(type="button",ng-click="seecurrentWordlist()") Click to see currentWordlist
                   <br/><br/>
                   a.btn.btn-mydefault(ng-click="addFolder()") New Folder

        div.col-md-8(style="border-size:1px;", ng-show="$data" )
            div.row
                div.col-md-12(ng-show="wordLoaded()")
                    button.btn-mydefault.starAll(ng-click="starAll()", style="width:150px")
                        img(src="../icons/star-shape4.png", style="width:18px")
                        span(style="margin-left: 10px") Star All
                    button.btn-mydefault.unstarAll(ng-show="toTestWords.length", ng-click="unstarAll()", style="width:150px")
                        img(src="../icons/flower135.png", style="width:18px")
                        span(style="margin-left: 10px") Clear all
                    button.btn-mydefault.starUnder6(ng-click="starUnder6()", style="width:150px")
                        img(src="../icons/star-shape4.png", style="width:18px")
                        span(style="margin-left: 10px; weight: 600") Star Under 6
            div.devider-color
            div(style="padding:10px 10px 10px 10px; background-color: white")
                div(style="display:inline-block; text-align:center; width: 100%")
                    div.col-sm-4(style="text-align:left")
                        button.btn-mydefault(ng-disabled="openingPage<=1", ng-click="goToFirstPage()") First
                        button.btn-mydefault(ng-disabled="openingPage<=1",ng-click="previousPage()", style="width:90px;display:inline-block; ") Previous
                    div.col-sm-4(style="text-align: center;padding-top: 6px;")
                        p Page: {{openingPage}} / {{totalPages}}

                    div.col-sm-4(style="text-align:right")
                        button.btn-mydefault(ng-disabled="openingPage>=totalPages",ng-click="nextPage()", style="width: 90px;display:inline-block;") Next
                        button.btn-mydefault(ng-disabled="openingPage>=totalPages", ng-click="goToLastPage()") Last



                div.row.wordboard(style="")
                    //script(type="text/ng-template", id="custom/pager")
                    //    ul.pager.ng-cloak
                    //            li(ng-repeat="page in pages", ng-class="{'disabled': !page.active, 'previous': page.type == 'prev', 'next': page.type == 'next'}", ng-show="page.type == 'prev' || page.type == 'next'", ng-switch="page.type")
                    //                a(ng-switch-when="prev", ng-click="params.page(page.number)", href="") &laquo; Previous
                    //                a(ng-switch-when="next", ng-click="params.page(page.number)", href="") Next &raquo;

                    //table.wordlist.table(style="width:100%;")
                    //    tbody
                    //        tr(style="border-top:1px solid #eee;",ng-repeat="item in $data ", ng-animate=" 'tableItemAnimate' ")
                    //            td(ng-class="{'border-left-red': ((item.NoCorrectAns-item.NoWrongAns)<3), 'border-left-orange': ((item.NoCorrectAns-item.NoWrongAns)>=3 && (item.NoCorrectAns-item.NoWrongAns)<=5), 'border-left-green': ((item.NoCorrectAns-item.NoWrongAns)>5)}")
                    //                div.accuracy(ng-class="{'score-red': ((item.NoCorrectAns-item.NoWrongAns)<3), 'score-orange': ((item.NoCorrectAns-item.NoWrongAns)>=3 && (item.NoCorrectAns-item.NoWrongAns)<=5), 'score-green': ((item.NoCorrectAns-item.NoWrongAns)>5)}")
                    //                    div.score
                    //                        span(ng-show="(item.NoCorrectAns-item.NoWrongAns)>0", style="font-size: 20px; margin-right: 1px;") +
                    //                        //span(ng-show="(item.NoCorrectAns-item.NoWrongAns)<0")
                    //                        |{{item.NoCorrectAns-item.NoWrongAns}}
                    //
                    //            td(style="max-width: calc(100% - 167px);")
                    //                div(style="width:100%;")
                    //                    div
                    //                        div(ng-class="{hasImage: item.image, innerTableTd: !item.image}", style="display:inline-block")
                    //                            div
                    //                                div
                    //                                    div(style="width:40%; padding: 5px; display: inline-block")
                    //                                        p(style="font-weight: 600;", ng-show="!item.editing") {{item.word}}
                    //                                        input(type="text", ng-model="item.word", ng-show="item.editing")
                    //                                    div(style="width:60%; padding: 5px; display: inline-block")
                    //                                        p(ng-show="!item.editing") {{item.meaning}}
                    //                                        input(type="text", ng-model="item.meaning", ng-show="item.editing")
                    //                                div(style="padding: 15px;")
                    //                                    div
                    //                                        //pre(ng-bind="item.example", ng-show="item.example && !item.editing")
                    //                                        div(ta-bind, ng-model="item.example", ng-show="item.example && !item.editing", style="max-height: 160px; overflow-y: auto;background-color: rgba(128, 128, 128, 0.2);padding: 4px 4px 4px 4px;border-radius: 7px;margin-bottom: 5px; margin-left:10px; margin-right: 10px")
                    //                                        //textarea(ng-show="item.editing", ng-model="item.example", style="width: 100%; max-height: 200px")
                    //                                        div(text-angular, ng-show="item.editing", ng-model="item.example", style="width:100%; max-height: 200px")
                    //                        div(style="padding: 5px; text-align:right; width:170px; display: inline-block; vertical-align: top", ng-show="item.image")
                    //                            img(ng-src="{{item.image}}", ng-show="item.image", style="max-height:100px; max-width: 170px;")
                    //            td.details(style="text-align:center; background-color: #f7f4f0; border-left: 1px solid #e2dfd9; border-bottom: 4px solid rgb(247, 244, 240);border-right: 4px solid rgb(247, 244, 240); width: 28px; vertical-align:middle")
                    //                a.star-btn(ng-click="toggleToTestWords(item, $event)")
                    //                    img.notselected(src="../icons/star-shape4.png", ng-show="!item.selectedToCart", style="")
                    //                    img.selected(src="../icons/flower135.png", ng-show="item.selectedToCart")
                    //                a.edit-btn(ng-click="editItem(item)", ng-show="!item.editing")
                    //                    img(src="../icons/pencil124.png", style="")
                    //                a.done-editing-btn(ng-show="item.editing", ng-click="doneEditing(item)")
                    //                    img(src="../icons/tick11.png", style="")
                    //                a.del-btn(ng-click="deleteItem(item)")
                    //                    img(src="../icons/cross105.png", style="")
                    //

                    div.wordlist.table.inline-block(style="width:100%;")

                        div(style="background-color: #F7F4F0;",ng-repeat="item in $data ", ng-animate=" 'tableItemAnimate' ")
                            div.inline-block.list-body(style="",ng-class="{'border-left-red': ((item.NoCorrectAns-item.NoWrongAns)<3), 'border-left-orange': ((item.NoCorrectAns-item.NoWrongAns)>=3 && (item.NoCorrectAns-item.NoWrongAns)<=5), 'border-left-green': ((item.NoCorrectAns-item.NoWrongAns)>5), 'border-left-blue ': item.selectedToCart} ",)
                                div.inline-block(style="width:80px; vertical-align: top; margin-top:5px;")
                                    div.accuracy(ng-click="toggleToTestWords(item, $event)",ng-class="{'score-red': ((item.NoCorrectAns-item.NoWrongAns)<3), 'score-orange': ((item.NoCorrectAns-item.NoWrongAns)>=3 && (item.NoCorrectAns-item.NoWrongAns)<=5), 'score-green': ((item.NoCorrectAns-item.NoWrongAns)>5)}")
                                        div.score
                                            span(ng-show="(item.NoCorrectAns-item.NoWrongAns)>0", style="font-size: 20px; margin-right: 1px;") +
                                            //span(ng-show="(item.NoCorrectAns-item.NoWrongAns)<0")
                                            |{{item.NoCorrectAns-item.NoWrongAns}}
                                    <br>
                                    //a.star-btn(ng-click="toggleToTestWords(item, $event)")
                                    //    img.notselected(src="../icons/star-shape4.png", ng-show="!item.selectedToCart", style="")
                                    //    img.selected(src="../icons/flower135.png", ng-show="item.selectedToCart")
                                div.inline-block(style="width:calc(100% - 100px)")
                                    div
                                        div(ng-class="{hasImage: item.image, innerTableTd: !item.image}", style="display:inline-block")
                                            div
                                                div
                                                    div(style="width:40%; padding: 30px 5px 5px 17px; display: inline-block")
                                                        p(style="font-weight: 600;", ng-show="!item.editing") {{item.word}}
                                                        input(type="text", ng-model="item.word", ng-show="item.editing")
                                                    div(style="width:60%; padding: 5px; display: inline-block")
                                                        p(ng-show="!item.editing") {{item.meaning}}
                                                        input(type="text", ng-model="item.meaning", ng-show="item.editing")
                                                div(style="padding: 15px;")
                                                    div
                                                        //pre(ng-bind="item.example", ng-show="item.example && !item.editing")
                                                        div(ta-bind, ng-model="item.example", ng-show="item.example && !item.editing", style="max-height: 160px; overflow-y: auto;background-color: rgba(128, 128, 128, 0.2);padding: 4px 4px 4px 4px;border-radius: 7px;margin-bottom: 5px; margin-left:10px; margin-right: 10px")
                                                        //textarea(ng-show="item.editing", ng-model="item.example", style="width: 100%; max-height: 200px")
                                                        div(text-angular, ng-show="item.editing", ng-model="item.example", style="width:100%; max-height: 200px")
                                        div(style="padding: 5px; text-align:right; width:170px; display: inline-block; vertical-align: top", ng-show="item.image")
                                            img(ng-src="{{item.image}}", ng-show="item.image", style="max-width: 170px;")
                            div.details.inline-block(style="text-align: center;background-color: #f7f4f0;/* border-left: 1px solid #e2dfd9; */border-bottom: 4px solid rgb(247, 244, 240);border-right: 4px solid rgb(247, 244, 240);width: 28px;vertical-align: top;padding-left: 5px;")

                                a.edit-btn(ng-click="editItem(item)", ng-show="!item.editing")
                                    img(src="../icons/pencil124.png", style="")
                                a.done-editing-btn(ng-show="item.editing", ng-click="doneEditing(item)")
                                    img(src="../icons/tick11.png", style="")
                                a.del-btn(ng-click="deleteItem(item)")
                                    img(src="../icons/cross105.png", style="")

script.
    $(document).ready(function(){

        $(window).resize(function(){
            $('.wordboard').css({ "max-height": ($(window).height()-170) + 'px' });
            $('div.suggestImagesOnLoading').width($('div.suggestImages').width());
            $('div.suggestImagesOnLoading').height($('div.suggestImages').height());
            /* console.log("$('div.suggestImages').offset().top: ", $('div.suggestImages').offset().top);
            console.log("$('div.suggestImages').offset().left: ", $('div.suggestImages').offset().left);
            $('div.suggestImagesOnLoading').offset({top: $('div.suggestImages').offset().top, left: $('div.suggestImages').offset().left});*/
        }).resize();

    });