doctype html
html(lang="en")
    head
        title For the Finnish Test!
        script(data-require="jquery@2.1.3", data-semver="2.1.3", src="http://code.jquery.com/jquery-2.1.3.min.js")
        link(data-require="bootstrap@*", data-semver="3.3.2", rel="stylesheet", href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css")
        script(data-require="bootstrap@*", data-semver="3.3.2", src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js")
        script(data-require="angular.js@1.4.0-rc.1", data-semver="1.4.0-rc.1", src="https://code.angularjs.org/1.4.0-rc.1/angular.js")
        link(rel="stylesheet", href="../stylesheets/style.css")
        //--------------------------- Import Font -----------------------------------
        link(href='http://fonts.googleapis.com/css?family=Oswald', rel='stylesheet', type='text/css')
        link(href='http://fonts.googleapis.com/css?family=Source+Sans+Pro', rel='stylesheet', type='text/css')
        //---------------------------------------------------------------------------
        //script(data-require="ng-table@*", data-semver="0.3.0", src="http://bazalt-cms.com/assets/ng-table/0.3.0/ng-table.js")
        //script(data-require="ng-table-export@0.1.0", data-semver="0.1.0", src="http://bazalt-cms.com/assets/ng-table-export/0.1.0/ng-table-export.js")
        //link(data-require="ng-table@*", data-semver="0.3.0", rel="stylesheet", href="http://bazalt-cms.com/assets/ng-table/0.3.0/ng-table.css")

        script(src="../javascripts/scriptApp.js")
        script(src="../javascripts/services/Folder.js")
        script(src="../javascripts/services/Word.js")



    body(ng-app="SpeedVocab")
        div.container(ng-controller="MainController")

            div.row

                div.col-md-4
                    div.row
                        div.col-md-12
                            a.btn.btn-default(ng-click="goToTest()") to-test Words length: {{toTestWords.length}}
                    div.AddNewFormDiv
                       form#AddNewForm(ng-submit="submit()")
                           | Word:
                           input(type="text", required, ng-model="newword", ng-disabled="currentOpenningFolder===''")
                           // button(type="button",ng-click="seecurrentWordlist()") Click to see currentWordlist
                           <br/>
                           | Meaning:
                           input(type="text", required ,ng-model="newmeaning", ng-disabled="currentOpenningFolder===''")
                           <br/>
                           | Example:
                           <br/>
                           textarea(name="",id="",cols="30",rows="10",ng-model="newexample", ng-disabled="currentOpenningFolder===''", style="width: 100%; height: 100px; font-size: 14px;")
                           <br/>
                           button.btn.btn-default(type="button", ng-click="defineWord(newword)", ng-disabled="currentOpenningFolder===''") Go Dictionary Power (English only)! Go!
                           <br/>
                           | Image:
                           // input(type="text", ng-model="newimage", ng-disabled="currentOpenningFolder===''")
                           a.btn(ng-click="getSuggestedImages(newword)", ng-disabled="currentOpenningFolder===''", ng-show="newimage==='' || newimage===undifined") Choose image
                           a.btn(ng-click="removeNewImage()", ng-show="newimage!=='' && newimage!==undefinded") Remove image
                           <br/>
                           div.choosenImageDiv(style="height:200px", ng-show="newimage!=='' && newimage!==undefinded")
                               img(style="max-height:200px; max-width:95%;", ng-src="{{newimage}}")
                           div.suggestImages(style="height:200px; overflow-y:scroll; overflow-x:scroll;", ng-show="newimage==='' || newimage===undifined")
                               a.suggestedImage.btn(ng-repeat="image in wordImages", ng-click="suggestedImageBtn(image)")
                                   img(style="max-width:95%; max-height:200px; float:left", ng-src="{{image}}")
                           button.btn.btn-default(type="submit", ng-disabled="currentOpenningFolder===''") Submit
                           button.btn.btn-default(type="button", ng-disabled="currentOpenningFolder===''", ng-click="resetForm()") Reset

                    div.folder-list
                       div(ng-repeat="folder in folders")
                           a.btn.btn-default(ng-click="getWords(folder._id)") {{folder.name}}
                           // button(type="button",ng-click="seecurrentWordlist()") Click to see currentWordlist
                       <br/><br/>
                       a.btn.btn-default(ng-click="addFolder()") New Folder

                div.col-md-8(style="border-size:1px;")
                    div.row
                        div.col-md-12
                            a.btn.starAll(ng-show="!selectedAll() && wordLoaded()", ng-click="starAll()")
                                img(src="../icons/star-shape4.png", style="width:18px")
                                label(style="margin-left:10px; font-size:16px;/* vertical-align: bottom; */font-weight: 500;color: rgba(0, 0, 0, 0.72);") Star All
                            a.btn.unstarAll(ng-show="selectedAll()", ng-click="unstarAll()")
                                img(src="../icons/flower135.png", style="width:18px")
                                label(style="margin-left:10px; font-size:16px;/* vertical-align: bottom; */font-weight: 500;color: rgba(0, 0, 0, 0.72);") Unstall All
                    div.row(style="overflow-y:scroll; max-height:90vh;box-shadow: 2px 2px 12px rgba(0,0,0,0.1),1px 1px 4px rgba(0,0,0,0.12);    border-radius: 3px;    background-color: white;    padding: 0px 0px 2px 0px;    margin: 5px 5px 5px 5px;")

                        table.wordlist(style="width:100%;")
                            tbody
                                tr(style="border-top:1px solid #eee;",ng-repeat="item in currentWordlist | orderByScore")
                                    td(ng-class="{'border-left-red': ((item.NoCorrectAns-item.NoWrongAns)<3), 'border-left-orange': ((item.NoCorrectAns-item.NoWrongAns)>=3 && (item.NoCorrectAns-item.NoWrongAns)<=5), 'border-left-green': ((item.NoCorrectAns-item.NoWrongAns)>5)}")
                                        div.accuracy
                                            div.score
                                                span(ng-show="(item.NoCorrectAns-item.NoWrongAns)>0") +
                                                //span(ng-show="(item.NoCorrectAns-item.NoWrongAns)<0")
                                                |{{item.NoCorrectAns-item.NoWrongAns}}
                                            div.answers
                                                div.right
                                                    span.glyph.icon(ng-repeat="a in range(item.NoCorrectAns) track by $index") +
                                                div.wrong
                                                    span.glyph.icon(ng-repeat="a in range(item.NoWrongAns||0) track by $index") &minus;
                                    td
                                        table(style="width:100%;")
                                            tr
                                                td(style="width:40%; padding: 5px;")
                                                    p(style="font-weight: 600;", ng-show="!item.editing") {{item.word}}
                                                    input(type="text", ng-model="item.word", ng-show="item.editing")
                                                td(style="width:60%; padding: 5px;")
                                                    p(ng-show="!item.editing") {{item.meaning}}
                                                    input(type="text", ng-model="item.meaning", ng-show="item.editing")
                                            tr(style="padding: 15px;")
                                                td(colspan="2")
                                                    pre(ng-bind="item.example", ng-show="item.example && !item.editing")
                                                    textarea(ng-show="item.editing", ng-model="item.example", style="width: 100%;")
                                    td(style="padding: 5px; text-align:right")
                                        img(ng-src="{{item.image}}", ng-show="item.image", style="max-height:100px")
                                    td.details(style="text-align:center; background-color: #f7f4f0; border-left: 1px solid #e2dfd9; border-bottom: 4px solid rgb(247, 244, 240);border-right: 4px solid rgb(247, 244, 240);")
                                        a.star-btn(ng-click="toggleToTestWords(item._id, $event)")
                                            img.notselected(src="../icons/star-shape4.png", style="")
                                            img.selected(src="../icons/flower135.png", style=" display:none")
                                        a.edit-btn(ng-click="editItem(item)", ng-show="!item.editing")
                                            img(src="../icons/pencil124.png", style="")
                                        a.done-editing-btn(ng-show="item.editing", ng-click="doneEditing(item)")
                                            img(src="../icons/tick11.png", style="")
                                        a.del-btn(ng-click="deleteItem(item)")
                                            img(src="../icons/cross105.png", style="")
                                //| {{item.word}} : {{item.meaning}}<br/>
                                //pre(ng-bind="item.example", ng-show="item.example")
                                //img(ng-src="{{item.image}}", ng-show="item.image", style="max-height:220px")
                                //<hr/>
