div.app2(ng-controller="MainController as ctrl")
    div.row.folder-selection(ng-show="!ctrl.currentOpeningFolder")

        div.col-md-12(style='background-color:rgba(255, 255, 255, 0.75);')
            div.row
                div.devider-color
                div.col-md-12.titleDiv
                    if name
                        h2 #{name}'s Folders
            div.row
                div.col-md-12.search-barDiv
                    input(type="text", placeholder="Search", ng-model="ctrl.searchFolder")
            div.row.folderList
                div.row.header
                    div.col-xs-3
                        p Name
                    div.col-xs-3
                        p Terms
                    div.col-xs-3
                        p Definitions
                    div.col-xs-3(style="text-align:right;")
                        p(style="margin-right:34px;") Date
                div.body
                    div.bd.row(ng-repeat="folder in ctrl.folders | filter:ctrl.searchFolder track by $index ")
                        div.col-xs-3.nameDiv
                            a(ng-click="ctrl.openFolder(folder._id)")
                                p {{folder.name}}
                        div.col-xs-6.langDiv
                            div.row
                                div.col-xs-6.fromLangDiv(ng-dblclick="folder.editing=true")
                                    p(ng-show="!folder.editing") {{ctrl.Folder.decodeLang(folder.fromLang)}}
                                    input.form-control#editFromLang(type="text", ng-show="folder.editing", ng-model="folder.fromLang")
                                div.col-xs-6.toLangDiv(ng-dblclick="folder.editing=true")
                                    p(ng-show="!folder.editing") {{ctrl.Folder.decodeLang(folder.toLang)}}
                                    input.form-control#editToLang(type="text", ng-show="folder.editing", ng-model="folder.toLang")
                                    i.fa.fa-check(ng-click="ctrl.editFolder(folder, $index)", ng-show="folder.editing")
                        div.col-xs-3.createdAtDiv
                            p(style="display:inline-block;") {{ctrl.formatDate(folder.createdAt)}}
                            div(style="display:inline-block")
                                button.btn.delete-folder(ng-click="ctrl.deleteFolder(folder)")
                                    i.fa.fa-trash(style="")
                div.row.footer
                    form(ng-submit="ctrl.addFolder()")
                        div.col-xs-12
                            p New Folder:
                        div.col-xs-3
                            input.form-control(type="text", placeholder="Folder's name", ng-model="ctrl.newnameF", required)
                        div.col-xs-3
                            input.form-control(type="text", placeholder="Source language", ng-model="ctrl.newfromLangF", required)
                        div.col-xs-3
                            input.form-control(type="text", placeholder="Target language", ng-model="ctrl.newtoLangF", required)
                        div.col-xs-3
                            button.btn#AddNewFolderBtn(type="submit")
                                i.fa.fa-plus()
        div.col-md-2
    div.row.main(ng-show="ctrl.currentOpeningFolder")

        div.col-md-12.main-st
            div.row.learning-options-st
                div.col-xs-5.col-sm-4
                    div.back-to-folder(style="cursor:pointer;", ng-click="ctrl.backToFolerSelection()")
                        i.fa.fa-angle-left
                    div.learn-opt(ng-click="ctrl.goToTest()")
                        i.fa.fa-newspaper-o(style="")
                        h2(style="") Learn {{ctrl.toTestWords.length}}
                div.col-xs-7.col-sm-8.starring
                    div.row
                        a.unstarAll.btn-mydefault(ng-show="ctrl.toTestWords.length", ng-click="ctrl.unstarAll()", style="width:125px;")
                            img(src="../icons/flower135.png", style="width:18px")
                            span(style="margin-left: 10px") Clear all
                        div(style="width:150px; float:right;")
                            a.starUnder6.btn-mydefault(ng-click="ctrl.starUnder6()", style="width:125px")
                                span(style="margin-left: 10px; weight: 600") Star Under 6
                            a.starAll.btn-mydefault(ng-click="ctrl.starAll()", style="width:125px")
                                span(style="margin-left: 10px") Star All
                            a.starCurrentPage.btn-mydefault(ng-click="ctrl.starCurrentPage()", style="width:150px")
                                | Star Current Page

            div.row.addnew-wordlist-st
                div.col-sm-12.addnew-st.fadeInLeft.animated
                    div.devider-color
                    div.addnewToggleBar(ng-click="ctrl.toggleAddNewBar()", style="cursor:pointer;")
                        i.fa.fa-angle-up(style="font-size:31px;")
                    div.addnewDiv
                        form(ng-submit="ctrl.submit()")
                            div.row.row1
                                div.col-md-2.newwordDiv
                                    input.form-control(type="text", ng-model="ctrl.newword", placeholder="Word", required)
                                div.col-md-7.newmeaningDiv
                                    input.form-control(type="text", ng-model="ctrl.newmeaning", placeholder="Definition", required)
                                div.col-md-3.assistToolDiv
                                    a(ng-click="ctrl.defineWord(ctrl.newword)")
                                        i.fa.translate(ng-class="{'fa-language fa-2x':!ctrl.loading.definition,'fa-spinner spinning animated infinite':ctrl.loading.definition}")
                                        //i.fa.fa-spinner.spinning.infinite.animated
                                    a(ng-click="ctrl.getSuggestedImages(ctrl.newword)")
                                        span.imageSuggestion(ng-class="{'glyphicon glyphicon-picture':!ctrl.loading.imageSuggestion,'fa fa-spinner spinning animated infinite':ctrl.loading.imageSuggestion}")
                                        //span.imageSuggestion.fa.fa-spinner.spinning.infinite.animated
                                    a(ng-click="ctrl.resetForm()")
                                        span.resetForm.glyphicon.glyphicon-repeat
                            div.row.row2.suggestedImagesDiv(ng-show="ctrl.suggestedImages.length>0 && !ctrl.newimage")
                                a.suggestedImage.btn(ng-repeat="image in ctrl.suggestedImages", ng-click="ctrl.selectSuggestedImage(image)")
                                    img(style="max-width:95%; max-height:200px; float:left", ng-src="{{image}}")
                            div.row.row3
                                div.col-sm-2.newimageDiv(ng-show="ctrl.newimage")
                                    img(style="max-width:95%; max-height:200px; float:left", ng-src="{{ctrl.newimage}}")
                                div.newexampleDiv(ng-class="{'col-md-10':!!ctrl.newimage, 'col-md-12':!ctrl.newimage}")
                                    div(text-angular, ng-model="ctrl.newexample", style="width:100%;")
                            div.row.row4(style="text-align:center")
                                button.btn.btn-success.submitButton(type="submit")
                                    span.glyphicon.glyphicon-plus(style="padding-top: 1px;font-size: 16px;font-weight: 500;")
                div.col-sm-12(style="background-color: white;box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.31),1px 1px 4px rgba(0, 0, 0, 0.21);border-radius: 7px;margin-top:5px;")
                    div.devider-color
                    div(style="padding:10px 10px 10px 10px; background-color: white")
                        div.page-navigator(style="display:inline-block; text-align:center; width: 100%")
                            div(style="text-align:left; width: 30%; display: inline-block")
                                button.btn-mydefault(ng-disabled="ctrl.openingPage<=1", ng-click="ctrl.goToFirstPage()")
                                    i.fa.fa-angle-double-left
                                button.btn-mydefault(ng-disabled="ctrl.openingPage<=1",ng-click="ctrl.previousPage()", style="display:inline-block; ")
                                    i.fa.fa-angle-left
                            div(style="text-align: center;padding-top: 6px; width: 40%; display: inline-block ")
                                p Page: {{ctrl.openingPage}} / {{ctrl.totalPages}}

                            div(style="text-align:right; width: 30%; display: inline-block")
                                button.btn-mydefault(ng-disabled="ctrl.openingPage>=ctrl.totalPages",ng-click="ctrl.nextPage()", style="display:inline-block;")
                                    i.fa.fa-angle-right
                                button.btn-mydefault(ng-disabled="ctrl.openingPage>=ctrl.totalPages", ng-click="ctrl.goToLastPage()")
                                    i.fa.fa-angle-double-right

                    div.col-sm-12.wordlist-st

                        div(ng-repeat="item in ctrl.$data track by $index", elem-ready)
                            div(style="margin-left: -15px;padding-left: 15px;margin-right: -15px;padding-right: 15px;", ng-class="{'border-left-red': ((item.NoCorrectAns-item.NoWrongAns)<3), 'border-left-orange': ((item.NoCorrectAns-item.NoWrongAns)>=3 && (item.NoCorrectAns-item.NoWrongAns)<=5), 'border-left-green': ((item.NoCorrectAns-item.NoWrongAns)>5)} ")
                                div.row(style="border-top: 1px solid rgba(150, 145, 145, 0.36); padding-top: 10px;")
                                    div.col-sm-2.col-md-2.scoreDiv
                                        div.score(ng-class="{'score-red': ((item.NoCorrectAns-item.NoWrongAns)<3), 'score-orange': ((item.NoCorrectAns-item.NoWrongAns)>=3 && (item.NoCorrectAns-item.NoWrongAns)<=5), 'score-green': ((item.NoCorrectAns-item.NoWrongAns)>5)}")
                                            p(style="font-weight:600; font-size:16px;")
                                                | {{item.NoCorrectAns-item.NoWrongAns}}
                                    div.col-xs-8.termDiv
                                        div.row
                                            div.col-sm-4.wordDiv
                                                p(style="font-size: 18px;font-weight: 600;",ng-show="!item.editing") {{item.word}}
                                                input.form-control(type="text", ng-model="item.word", ng-show="item.editing")
                                            div.col-sm-8.meaningDiv
                                                p(style="font-size: 18px;", ng-show="!item.editing") {{item.meaning}}
                                                input.form-control(type="text", ng-model="item.meaning", ng-show="item.editing")
                                    div.col-xs-4.col-md-2.optionsDiv
                                        a.star-btn(ng-click="ctrl.toggleToTestWords(item, $event)")
                                            //img.notselected(src="../icons/star-shape4.png", ng-show="!item.selectedToCart", style="")
                                            span.glyphicon(ng-class="{'glyphicon-star-empty':!item.selectedToCart,'glyphicon-star':item.selectedToCart}")
                                            //img.selected(src="../icons/flower135.png", ng-show="item.selectedToCart")
                                            //span.glyphicon.glyphicon-star(ng-show="item.selectedToCart", style="transform: rotate(144deg);color:rgb(211, 211, 0);")
                                        a.edit-btn(ng-click="ctrl.editItem(item)", ng-show="!item.editing")
                                            i.fa.fa-pencil-square-o
                                            //img(src="../icons/pencil124.png", style="")
                                        a.done-editing-btn(ng-show="item.editing", ng-click="ctrl.doneEditing(item)")
                                            i.fa.fa-check
                                            //img(src="../icons/tick11.png", style="")
                                        a.del-btn(ng-click="ctrl.deleteItem(item)")
                                            i.fa.fa-trash-o
                                            //img(src="../icons/cross105.png", style="")
                                div.row
                                    div.col-md-2.imageDiv
                                        img.img-thumbnail(ng-src="{{item.image}}", ng-show="item.image", style="max-width: 100%;")
                                    div.exampleDiv(ng-class="{'col-md-10':!!item.image, 'col-md-12':!item.image}")
                                        div(ta-bind, ng-model="item.example", ng-show="item.example && !item.editing" )
                                        div(text-angular, ng-show="item.editing", ng-model="item.example", style="width:100%; max-height: 200px")
                                    div.toggleExampleBar(ng-show="(item.example && !item.editing) && ctrl.hideToggleExampleBool($index)", style="")
                                        div(ng-click="ctrl.expandExample($event)", style="background-image: url('../icons/down01.png'); background-size: 30px 20px;background-repeat: no-repeat;background-position: center bottom; height:23px")

script.
    $(document).ready(function(){

        $(window).resize(function(){
            //console.log($('.wordlist-st').offset().top);
            //console.log($('.wordlist-st').offset().top);
            //console.log($(window).height()-$('.wordlist-st').offset().top);
            if ($(window).height()<=640){
                $('.wordlist-st').animate({ "max-height": ($(window).height() - 66) + 'px' },'fast');
            }else{
                $('.wordlist-st').animate({ "max-height": ($(window).height()-$('.wordlist-st').offset().top - 20) + 'px' },'fast');
            }

            //$('div.suggestImagesOnLoading').width($('div.suggestImages').width());
            //$('div.suggestImagesOnLoading').height($('div.suggestImages').height());
            //console.log('$(window).width', $(window).width());

        }).resize();


    });