div(ng-controller="LearnController")
    div.row
        a.btn(ng-click="ctrl.back()") Back
    div.row
        div.col-md-2
            div.counter
                p(style="font-weight:700") Remaining
                span.remaining-count {{ctrl.remaining}}
                <hr style="width:100px; color:black"/>
                p(style="font-weight:700") Options:<br/>
                input(type="checkbox", ng-model="ctrl.reverse", ng-click="ctrl.reverseCheck()")
                p(style="display:inline-block;margin: 2px;") Reverse
                <br/>
                input(type="checkbox", ng-model="ctrl.speakText")
                p(style="display:inline-block;margin: 2px;") Speak Text
        div.col-md-10(ng-show="!ctrl.finished && ctrl.onAnswering")
            div.questionDiv
                //p Round {{ongoingRoundNo+1}}
                p(ng-bind="ctrl.questionT", style="display: inline-block;font-size: 45px;")
                a(ng-click="ctrl.playAudio()")
                    i.fa.fa-volume-up(style="font-size:31px;margin-left: 15px;color: black;")
                <hr/>
                form(ng-submit="ctrl.submit()", style="width:100%; display:inline-block; ")
                    input.answer(type="text", ng-model="ctrl.answer")
                    input#answer-button.button.btn-mydefault(type="submit", value="Answer", ng-disabled="ctrl.finished")
        div.summary.col-sm-9(ng-show="ctrl.finished")
            p.h1.relative-center(style="font-family: Oswald,Arial,sans-serif;") Summary
            <hr/>
            div(ng-show="!ctrl.missedTerms.length>0")
                p.h1(style="color:green") Well done!
            div(ng-show="ctrl.missedTerms.length>0")
                p.h1 Missed
                div.missedTerms(ng-show="ctrl.missedTerms.length>0")
                    //table(style="width:100%")
                    //    tr(ng-repeat="term in missedTerms track by $index")
                    //        td(style="vertical-align:top")
                    //            p {{$index + 1}}.
                    //                span(style="color:#b00 !important; margin-left:3px") {{term.word}} &rarr; {{term.meaning}}
                    //                | &nbsp;(
                    //                span(ng-show="term.answer", style="text-decoration: line-through; margin-left: 5px", ng-repeat="obj in term.answer track by $index") {{obj}}
                    //                    span(ng-show="$index<term.answer.length-1") ,
                    //                | &nbsp;)
                    //            //pre(ng-bind="term.example", ng-show="term.example")
                    //            div(ta-bind, ng-show="term.example", ng-model="term.example", style="overflow-y: auto;background-color: rgba(128, 128, 128, 0.2);padding: 4px 4px 4px 4px;border-radius: 7px;margin-bottom: 5px; margin-left:10px; margin-right: 10px; max-width: 90%")
                    //        td(ng-show="term.image", style="width:120px")
                    //            img(ng-src="{{term.image}}", style="max-width:120px")
                    div.row
                        div.row(ng-repeat="term in ctrl.missedTerms track by $index", style="margin-bottom:8px;")
                            div.col-sm-9(style="vertical-align:top; padding:2px 13px 2px 29px")
                                p {{$index + 1}}.
                                    span(style="color:#b00 !important; margin-left:3px") {{term.word}} &rarr; {{term.meaning}}
                                    | &nbsp;(
                                    span(ng-show="term.answer", style="text-decoration: line-through; margin-left: 5px", ng-repeat="obj in term.answer track by $index") {{obj}}
                                        span(ng-show="$index<term.answer.length-1") ,
                                    | &nbsp;)
                                //pre(ng-bind="term.example", ng-show="term.example")
                                div(ta-bind, ng-show="term.example", ng-model="term.example", style="overflow-y: auto;padding: 4px 4px 4px 4px;border-radius: 7px;margin-bottom: 5px; margin-left:10px;")
                            div.col-sm-3(ng-show="term.image", style="text-align: center;")
                                img.inline-block(ng-src="{{term.image}}", style="max-width:120px")
            input#reset-button.button.relative-center.btn-mydefault(type="button", value="Start over", ng-click="ctrl.reset()")
        div.col-md-10(ng-show="!ctrl.finished && !ctrl.onAnswering")
            div.resultDiv(style="width:100%; min-height:200px",ng-show="ctrl.result", ng-class="{'resultDiv-correct': ctrl.result.correct, 'resultDiv-wrong': !ctrl.result.correct}")
                button.button.btn-mydefault#moveOn-btn(ng-click="ctrl.moveOn()") Next
                input#moveOnField(type="text", ng-model="ctrl.hiddenTextfield", ng-keydown="ctrl.moveOnTextfield($event)", placeholder="Press Enter to move on!")
                //p {{hiddenTextfield}}
                <br>
                p.wronganswer(ng-show="!ctrl.result.correct") {{ctrl.result.answer}}
                p.resultText {{ctrl.result.word}} : {{ctrl.result.meaning}}
                //pre(ng-show="result.example") {{result.example}}
                div(ta-bind, ng-model="ctrl.result.example", ng-show="ctrl.result.example", style="overflow-y: auto;background-color: rgba(128, 128, 128, 0.2);padding: 4px 4px 4px 4px;border-radius: 7px;margin-bottom: 5px; margin-left:10px; margin-right: 10px")
                div(style="text-align: center;")
                    img.inline-block(ng-src="{{ctrl.result.image}}", ng-show="ctrl.result.image", style="max-width: 100%;")