div.feedback(ng-controller="FeedbackCtrl as ctrl", ng-init="ctrl.avatar='#{avatar}'")
    div.row.add-feedbackDiv
        form#addFeedbackForm(ng-submit="ctrl.submitFeedback(ctrl.content)")
            div.col-md-12
                div.avatarDiv
                    img(ng-src="{{ctrl.avatar}}")
                div.feedbackTextDiv
                    textarea.form-control(ng-model="ctrl.content", placeholder="Leave a feedback or a friendly message.")
                button.btn.btn-success#SubmitFBBtn(type="submit")
                    | Submit
    div.row.feedbackListDiv
        div.col-md-12.feedbackRow(ng-repeat="item in ctrl.fbList")
            div.avatarDiv
                img(ng-src="{{item.avatar}}")
            div.feedbackDiv
                | {{item.content}}
