.feedback .avatarDiv{
    width:70px;
    display: inline-block;
    margin-right: 15px;
    text-align: center;
    vertical-align: top;
}
.feedback .avatarDiv img{
    width: 70px;
    height: 70px;
    border-radius: 35px;
    display: inline-block;
}
.feedback .feedbackTextDiv{
    width: calc(100% - 85px);
    display: inline-block;
    vertical-align: middle;
}
.feedback #SubmitFBBtn{
    float:right;
    margin-right: 10px;
}
.feedback .feedbackDiv{
    display: inline-block;
    width: calc(100% - 85px);
    vertical-algin:middle;
}
.feedback .feedbackRow .avatarDiv img{
    width: 40px;
    height: 40px;
    border-radius: 20px;
}
.feedback .feedbackRow{
    margin-top:10px;
    margin-bottom:10px;
}
.feedback .feedbackListDiv{
    padding-left:10px;
    max-height:50vh;
    overflow-y: auto;
}
/*.feedback{}*/
/*.feedback{}*/
/*.feedback{}*/
/*.feedback{}*/
/*.feedback{}*/
/*.feedback{}*/
/*.feedback{}*/
/*.feedback{}*/
/*.feedback{}*/
/*.feedback{}*/
/*.feedback{}*/
/*.feedback{}*/
/*.feedback{}*/
/*.feedback{}*/
/*.feedback{}*/
/*.feedback{}*/
/*.feedback{}*/
@media(max-width: 620px){
    .feedback{
        display: none;
    }
}