/* -------------------------------------- App -------------------------------------- */
/*header{*/
    /*min-height: 40px;*/
    /*width:100%;*/
/*}*/
body {
    font: 16px 'Source Sans Pro';
    /*background-color: #EBEBEB;*/
    background-image: url('../images/testimonial.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

a {
    color: #00B7FF;
}
::-webkit-scrollbar {
    width: 6px;
    border-radius:3px;
}
::-webkit-scrollbar-track {
    background-color: #eaeaea;
    border-left: 1px solid #ccc;
}
::-webkit-scrollbar-thumb {
    background-color: #ccc;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #aaa;
}

/* -------------------------------------- Animation -----------------------------------------*/
tr{
    opacity: 1;
    animation-name: item-enter;
    animation-duration: 0.5s;
}
@-webkit-keyframes item-enter {
    from {opacity: 0;}
    to {opacity: 1;}
}
@keyframes item-enter {
    from {opacity: 0;}
    to {opacity: 1;}
}
/*@-webkit-keyframes starShow {*/
    /*from {opacity: 0;}*/
    /*to {opacity: 1;}*/
/*}*/
/*@keyframes starShow {*/
    /*from {opacity: 0;}*/
    /*to {opacity: 1;}*/
/*}*/
.app .star-btn img{
    animation-name: item-enter;
    animation-duration: 1s;
    width:30px;
    height:30px;
}

img.loading{
    width: 400px;
    height:400px;
    position: fixed;
    left:calc(50% - 200px);
    top:calc(50% - 200px);
    display: none;
}
img.loadingDefinition{
    animation-name: item-enter;
}
.suggestImagesOnLoading{
    animation-name: item-enter;
    transition: all 0.3s;
    /*background-color: rgba(224, 67, 67, 0.47);*/
}
.app .exampleDiv{
    max-height: 160px;
    overflow-y: hidden;
    background-color: rgba(128, 128, 128, 0);
    padding: 8px 8px 8px 12px;
    margin-bottom: 5px;
    /*margin-left:10px;*/
    /*margin-right: 10px;*/
    box-shadow: 0 2px 6px 0px rgba(0, 0, 0, 0.48);
}
.devider-color{
    width: 100%;
    height: 3px;
    background-image: url('../images/stripe.png');
    background-repeat: repeat-x;
}
.remaining-count{
    background-color: rgb(123, 158, 255);
    padding-left: 60px;
    padding-right: 5px;
    padding-top: 4px;
    padding-bottom: 4px;
    box-shadow: inset 0 8px 8px -8px rgba(0,0,0,0.2);
    border-radius: 4px;
}
.folder-list{
    box-shadow: 2px 2px 12px rgba(0,0,0,0.1),1px 1px 4px rgba(0,0,0,0.12);
    border-radius: 3px;
    background-color:white;
    padding: 8px 13px 8px 13px;
    margin: 5px 5px 5px 5px;
    border: 1px solid;
    border-color: rgba(136, 136, 136, 0.58);
}
.AddNewFormDiv{
    box-shadow: 2px 2px 12px rgba(0,0,0,0.1),1px 1px 4px rgba(0,0,0,0.12);
    border-radius: 3px;
    background-color:white;
    padding: 8px 13px 8px 13px;
    margin: 0px 0px 5px 0px;
}
form input{

}
.wordboard{
    overflow-y:scroll;
    /*max-height:82vh; */
    box-shadow: 2px 2px 12px rgba(0,0,0,0.1),1px 1px 4px rgba(0,0,0,0.12);
    border-radius: 3px;    background-color: white;    padding: 0px 0px 2px 0px;    margin: 5px 5px 5px 5px;
}

/*.starAll{*/

/*}*/
.app .starAll,.unstarAll, .starUnder6{
    border: 1px solid rgb(214, 214, 214);
    background-color: rgb(252, 251, 248);
    height: 40px;
    width: 120px;
    margin-bottom: 3px;
    float: right;
    text-align:left;
}
.unstarAll{
    float:left;
}
.star-btn>div{
    background: url('../icons/star-shape4.png');
}
.star-btn-selected{
    color:red;
    font-weight: 800;
}
.details{
    width: 120px;
    vertical-align: top;
    padding-top:15px;
}
.details img{
    width: 18px;
    margin-right:5px;
    margin-left:5px;
}
a{
    cursor:pointer;
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
.btn-mydefault{
    border-radius: 3px;
    border: 1px solid #34495e;
    background: #ffffff;
    padding: 5px 13px 5px 13px;
    list-style: none;
    color: #34495e;
    font-weight: 500;
    transition: all 0.3s;
    text-align: center;
    margin-left:2px;
    margin-right:2px;
}
.btn-mydefault:hover{
    background: #34495e;
    color: #ffffff;
    transition: all 0.3s;
}
div.wordlist{
    background-color: white;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.1),1px 1px 4px rgba(0,0,0,0.12);
    border-radius: 3px;
}
hr {
    margin-top: 0px;
    margin-bottom: 13px;
    border: 0;
    border-top: 1px solid #eee;
}
pre{
    font: 16px 'Source Sans Pro';
}
.accuracy{
    background: #f4f0ea;
    cursor: default;
    float: left;
    padding: 4px 5px;
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    margin-right: 12px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align:center;
}
.app .score{
    display: inline-block;
    margin-top: 13px;
    margin-left: 0px;
    font: 300 22px "Helvetica Neue",arial,sans-serif;
    text-shadow: 0 1px 0 rgba(255,255,255,0.9);
    -webkit-font-smoothing: antialiased;
    width: 25px;
    cursor:pointer;
}
.accuracy-sm{
    background: #f4f0ea;
    cursor: default;
    float: left;
    padding: 4px 5px;
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    margin-right: 12px;
    margin-left: 10px;
    margin-top: 6px;
    margin-bottom: 10px;
    text-align:center;
}
.score-sm{
    background: #f4f0ea;
    cursor: default;
    float: left;
    padding: 6px 5px;
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    margin-right: 12px;
    margin-left: 10px;
    margin-top: 6px;
    margin-bottom: 10px;
    text-align: center;

}
.score-red{
    background-color: rgba(184, 35, 26, 0.17);
    color: black;
    transition: background-color 0.5s, color 0.5s;
}
.score-red:hover{
    background-color: rgba(184, 35, 26, 1);
    color: white;
}
.score-green{
    background-color: rgba(0, 128, 0, 0.15);
    color: black;
    transition: background-color 0.5s, color 0.5s;
}
.score-green:hover{
    background-color: rgba(0, 128, 0, 1);
    color: white;
}
.score-orange{
    background-color: rgba(238, 192, 117, 0.32);
    transition: background-color 0.5s, color 0.5s;
}
.score-orange:hover{
    background-color: rgba(238, 192, 117, 1);
    color: white;
}
.answers{
    color: #999;
    display: block;
    letter-spacing: 0.13em;
    line-height: 10px;
    -webkit-user-select: none;
}
.answers .right{
    margin-top: 2px;
}
.answers .wrong{

}
.answers .icon{
    display: inline;
    font-size: 12px;
    vertical-align: 2px;
}

.glyph {
    display: inline-block;
    font: 16px/1 glyphs-h105-web;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-font-smoothing: antialiased;
}
.border-left-green{
    border-left: 3px solid green;
}
.border-left-red{
    border-left: 3px solid #b8231a;
}
.border-left-orange{
    border-left: 3px solid #EEC075;;
}
.border-left-blue{
    border-left: 8px solid rgba(0, 108, 231, 0.58);
    /*opacity: 0.5;*/
}
.background-blue{
    background-color: rgba(109, 136, 242, 0.31);
}
div.wordlist div.list-body{
    width:calc(100% - 47px);
    padding: 10px;
    background-color: white;
}
div.wordlist{
    border-radius: 0 4px 4px 0;
    border-top: 1px solid #dad7d0;
    border-right: 1px solid #dad7d0;
    border-bottom: 1px solid #dad7d0;
}
div.wordlist>div>div{
    border-bottom:1px solid #eee;
    border-right: 1px solid #eee;
}
.wordlist pre{

    font-size:14px;
}
.folder-list .folder-btn{
    width: 100%;
    height: 25px;
    padding: 0 0 0 0;
    text-align: left;
    padding-left:10px;
    margin-bottom: 0px;
    border-top: 0;
    border-bottom: 0;
    border-radius: 0;
    transition: padding-left 0.5s;
}

.folder-btn:nth-child(1){
    border-top: 0;
}
.folder-list .folder-btn:hover{
    padding-left:20px;
    text-decoration: wavy;
}
.btn-group .btn{
    height:20px;
    width:20px;
    padding: 0 0 0 0;
}
.innerTableTd{
    width:100%;
}
.hasImage{
    width: calc(100% - 170px);
}
div.inline-block{
    display:inline-block;
}
/* ------------------------------------- ngAnimate ----------------------------------- */

/* -------------------------------------- Learn -------------------------------------- */

p, pre, span, i, b{
    font-size:14px;
    font-family: 'Open Sans', sans-serif;
}
p, pre, span, i{
    font-weight: 300;
}
div.counter{
    max-width: 160px;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.1),1px 1px 4px rgba(0,0,0,0.12);
    border-radius: 3px;
    background-color: rgb(255, 242, 207);
    padding: 8px 13px 8px 13px;
    margin: 0px 5px 5px 5px;
}
div.resultDiv{
    padding:8px 8px 8px 8px;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.1),1px 1px 4px rgba(0,0,0,0.12);
    border-radius: 3px;
    -webkit-animation-duration: 0.7s;
    /*-webkit-animation-delay: 2s;*/
    /*-webkit-animation-iteration-count: infinite;*/


}
div.resultDiv pre{
    font: 16px 'Source Sans Pro';
    background-color: rgb(255, 255, 255);
    border-color: white;
    border-width: 1px;
}
div.resultDiv-correct{
    background-color: rgba(156,244,192,0.6);
}
div.resultDiv-wrong{
    background-color: rgba(241,140,140,0.7);
}
.resultText{
    font-size:20px;
    font-family: Oswald,Arial,sans-serif;
}
.answer{
    border: 1px solid;
    border-color: #999 #b5b5b5 #d2d2d2 #b5b5b5;
    background: #f9f9f9;
    color: #222;
    padding: 4px;
    vertical-align: middle;
    width: calc(90% - 70px);
}
/*.button{*/
    /*background: #1f6fd9;*/
    /*border: 1px solid #1d66c8;*/
    /*border-radius: 2px;*/
    /*color: #fff;*/
    /*cursor: pointer;*/
    /*display: inline-block;*/
    /*font: 500 12px/24px "lucida grande","lucida sans unicode",arial,sans-serif;*/
    /*padding: 0 10px;*/
    /*text-shadow: 0 -1px 0 rgba(0,0,0,0.3);*/
/*}*/
#answer-button{
    padding: 3px 9px;
    vertical-align: middle;
    margin-right: 0;
    margin-left: 16px;
}
#reset-button{
    padding: 3px 9px;
    vertical-align: middle;
}
/*.button:hover, .button:active {*/
    /*background-color: #2379ea;*/
/*}*/
.wronganswer{
    text-decoration: line-through;
}
.questionDiv, .summary{
    box-shadow: 2px 2px 12px rgba(0,0,0,0.1),1px 1px 4px rgba(0,0,0,0.12);
    border-radius: 3px;
    background-color:white;
    padding: 8px 13px 8px 13px;
}
p.h1{
    font-size: 20px;
    padding-bottom: 7px;
    line-height: 20px;
    font-weight: bold;
}


.relative-center{
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.missedTerms pre{
    width:90%;
    font-size:14px;
}
.fa-facebook-official{
    font-size: 33px;
    display: inline-block;
    color: #3B5998;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.fa-facebook-official:hover{
    color: rgba(59, 89, 152, 0.69);
}
.facebookShare{
    height: 32px;
}