doctype html
html(lang="en")
    head
        title Practices
        script(data-require="jquery@2.1.3", data-semver="2.1.3", src="http://code.jquery.com/jquery-2.1.3.min.js")
        link(data-require="bootstrap@*", data-semver="3.3.2", rel="stylesheet", href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css")
        script(data-require="bootstrap@*", data-semver="3.3.2", src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js")
        script(data-require="angular.js@1.4.0-rc.1", data-semver="1.4.0-rc.1", src="https://code.angularjs.org/1.4.0-rc.1/angular.js")
        script(src="../app/lib/angular-ui-router.js")
        script(src="../app/lib/lodash.min.js")

        link(rel="stylesheet", href="../stylesheets/lib/animate.css")
        link(rel="stylesheet", href="../app/practices/stylesheet/practice1.css")
        link(rel="stylesheet", href="../app/practices/stylesheet/practice2.css")
        script.
            angular.module('app',['ui.router','services','filters'])
                .config(function($stateProvider) {

                    //console.log($stateProvider);
                    $stateProvider
                        .state('index',{
                            url:'',
                            template: '<h1>Index Page</h1>'
                        })
                        .state('practice',{
                            url:'/:id',
                            templateUrl: function($stateParams){
                                var practiceNo =  $stateParams.id || 1;
                                return 'template/practice/'+practiceNo;
                            }

                        })
                })
                .controller('MainController',function($location) {
                    // console.log($location);
                })




    body
        div.container(ng-app="app")
            div.row(ng-controller="MainController")
                div.col-md-12


                    | UI-Router practicing<br>
                    ui-view

        script(src="../app/practices/filters/OrderByFilters.js")
        script(src="../app/practices/controllers/animateController.js")
        script(src="../app/practices/controllers/FoodBalancerController.js")
        script(src="../app/practices/services/foodList.js")